VITE_BOARD_ADDRESS=0xE1baE692be42980760C661c31338EEcfed2D9e33
VITE_CONTROLLER_ADDRESS=0x5B5F1Fecc66FDc4c5028e7Ca7510aa8870A0Dd36
VITE_GAME_SUMMARY_ADDRESS=0x44A185144606CbD521FE1Bf9675F1d1d529d798e
VITE_PLAYER_SUMMARY_ADDRESS=0x8151420159640EBA38557031746ed832EF0A14d0
VITE_GAME_EVENTS_ADDRESS=0xE1873BFB95dD245A86Af64F114b79BA46D923040
VITE_GAME_REGISTRY_ADDRESS=0x396a1D1F4A691D110dc0503c8daA9E6d7bbB39a6
VITE_GAME_QUEUE_ADDRESS=0x77c5886c1e2be7E4100C31607D4E1EBF3965B484
VITE_GAME_SETUP_ADDRESS=0xCA6aD90b9E16Bf65db338c023c705d2038249Ba8
VITE_WALLETCONNECT_PROJECT_ID=
VITE_RPC_URL=https://sepolia.gateway.tenderly.co
VITE_FOUNDRY_RPC_URL=http://127.0.0.1:9955
VITE_LIVE_PLAY_URL=https://play.xenovoya.com
VITE_ENABLE_INTERNAL_TOOLS=false
VITE_PLAUSIBLE_HOST=https://plausible.racerverse.com
VITE_PLAUSIBLE_DOMAIN=play.xenovoya.com
VITE_RETURN_API_URL=https://return-api.xenovoya.com
VITE_APP_ENV=development
VITE_RELEASE_SHA=development
VITE_ANALYTICS_SOURCE=player
