/* Barlow Condensed - self-hosted */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/barlow-condensed/barlow-condensed-400.woff2') format('woff2'),
       url('/fonts/barlow-condensed/barlow-condensed-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/barlow-condensed/barlow-condensed-500.woff2') format('woff2'),
       url('/fonts/barlow-condensed/barlow-condensed-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/barlow-condensed/barlow-condensed-600.woff2') format('woff2'),
       url('/fonts/barlow-condensed/barlow-condensed-600.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/barlow-condensed/barlow-condensed-700.woff2') format('woff2'),
       url('/fonts/barlow-condensed/barlow-condensed-700.ttf') format('truetype');
}

/* JetBrains Mono - self-hosted */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-400.woff2') format('woff2'),
       url('/fonts/jetbrains-mono/jetbrains-mono-400.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-500.woff2') format('woff2'),
       url('/fonts/jetbrains-mono/jetbrains-mono-500.ttf') format('truetype');
}
